<?xml version="1.0" encoding="ISO-8859-1"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
			   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <import resource="spring-config-factories.xml" />

  <bean id="some_bean" 
	parent="clojure_fact">
    <constructor-arg value="
      (require 'spring-break.application-context-aware) 
      (spring-break.application-context-aware/make-some-bean 
          :foo :a_bean 
	  :bar :b_bean)" />
  </bean>

  <bean id="a_bean" 
	parent="clojure_fact">
    <constructor-arg value='"i am a bean"' />
  </bean>

  <bean id="b_bean" 
	parent="clojure_fact">
    <constructor-arg value='"i am b bean"' />
  </bean>

</beans>