<?xml version="1.0" encoding="ISO-8859-1"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
			   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <import resource="spring-config-factories.xml" />
  <bean id="run_nrepl" 
	parent="clojure_fact">
    <constructor-arg 
	value='
	       (ns user
	         (:require [clojure.tools.nrepl.server]))
	       (println "+++ Starting nrepl server ...")
	       (def server (clojure.tools.nrepl.server/start-server :port 7888))
	       (println "+++ nrepl server started.")
	       ' />
  </bean>

</beans>