<?xml version="1.0" encoding="ISO-8859-1"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
			   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			   http://www.springframework.org/schema/context
			   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

  <context:annotation-config/>
  <import resource="spring-config-factories.xml" />

  <!-- fails! --><bean id="some_bean" class="javastuff.AppCode$SomeBusinessImpl" />
  <!-- fix depends-on: bean id="some_bean" depends-on="an_auto_wire_candidate" class="javastuff.AppCode$SomeBusinessImpl" /-->
  <!-- fix prototype: bean id="some_bean" scope="prototype" class="javastuff.AppCode$SomeBusinessImpl" /-->
  <!-- fix lazy: bean id="some_bean" lazy-init="true" class="javastuff.AppCode$SomeBusinessImpl" /-->

  <!-- fix pull in hook: bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" 
	id="pull_in_clojure_beans"
	depends-on="an_auto_wire_candidate">
    <property name="placeholderPrefix" value="$$$do-not-use$$$" />
  </bean-->

  <bean id="an_auto_wire_candidate" 
	parent="clojure_fact">
    <constructor-arg value='(proxy [javastuff.AppCode$SomeCode][])' />
  </bean>
 
</beans>