<?xml version="1.0" encoding="ISO-8859-1"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
			   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <import resource="spring-config-factories.xml" />
  <bean id="run_swank" 
	parent="clojure_fact">
    <constructor-arg 
	value="
	       (in-ns 'user)
	       (use 'swank.swank)
	       (future 
	           (start-server :port 4007))
	       " />
  </bean>

</beans>