<?xml version="1.0" encoding="ISO-8859-1"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
			   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
  <bean id="hello_world" 
	class="clojure.lang.Compiler" 
	factory-method="load">
    <constructor-arg>
      <bean class="java.io.StringReader">
	<constructor-arg value='"Hello world!"' />
      </bean>
    </constructor-arg>
  </bean>
</beans>